*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p#color1
{
  background-color: #add8e6;
}
p#color2{
  background-color: yellow;

}

p#color3{
  background-color: orange;
}

h1 {
  margin-bottom: 1px;
  text-align: center;
  padding: 20px;
}
p{

  width: 150px;
  border: 1px solid black;
  margin-bottom: 50;
  padding: 2px;
  top: 0px;
  right: 0px;
  position: absolute;
  text-align: center;

}

.row{
  width: 100%;
}

/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
  }
    #div1{
    width: 25%;
    margin: 4%;
    background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
     }

   #div2{
      width: 25%;
      margin: 4%;
    background-color: gray;
    padding: 25px;
    border: 1px solid black;
    position: relative;
    
    }
    #div3{
      width: 25%;
      margin: 4%;
    background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;

    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    float: left;
  }

#div1{
width: 45%;
margin: 2%;
background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  
  
}

#div2{
  width: 45%;
  margin: 2%;
  background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  
}

#div3{
  width: 95%;
  margin: 1%;
  background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  

  }
 }


    /********** Small device Only **********/
@media (max-width: 767px) {
  .col-sw-1 {
    float: left;
}
    section#div1{
  width: 95%;
  margin: 2%;
  background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  
  
}

section#div2{
  width: 95%;
  margin: 2%;
  background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  
  
}
section#div3{
  width: 95%;
  margin: 2%;
  background-color: gray;
  padding: 25px;
  border: 1px solid black;
  position: relative;
  
  
}
}
